#trendBar{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 30%;
}

#channelBar{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 20%;
}
#Pie{
    position: relative;
    top: 50%;
    width: 100%;
    height: 30%;

    #douPie{
        position: absolute;      
        width: 50%;
        top: 0%;
        height: 100%;
    }
    #familyPie{
        position: absolute;
        width: 50%;
        left: 50%;
        top: 0%;
        height: 100%;
    }
}


.arrowBtn{
    width: 1rem;
    height: 1rem;
   
}
