<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>集团5G通信服务战略协议</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="doSign()">
          提交
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <p style="margin:0px 0px 5px; orphans:0; text-align:justify; widows:0">
        <span style="font-family:仿宋; font-size:14px; font-weight:bold">甲方：</span>
        <span
          style="background-color:#d8d8d8; font-family:仿宋; font-size:14px; font-weight:bold; text-decoration:underline">
          {{gname}}
        </span>
      </p>
      <p style="margin:0px 0px 5px; orphans:0; text-align:justify; widows:0">
        <span style="font-family:仿宋; font-size:14px; font-weight:bold">乙方：</span>
        <span style="font-family:仿宋; font-size:14px">中国移动通信集团浙江有限公司宁波分公司</span>
      </p>
      <p
        style="font-size:14px; line-height:150%; margin:0px; orphans:0; text-align:justify; text-indent:10px; widows:0">
        <span
          style="background-color:#d8d8d8; font-family:仿宋; font-size:14px; font-weight:bold; text-decoration:underline">
          {{cname}}
        </span>
        <span style="font-family:仿宋; font-size:14px">
          （以下简称甲方）和中国移动通信集团浙江有限公司宁波分公司（以下简称乙方）本着资源共享、优势互补、
          互利共赢的原则，为促进双方业务的协同发展，经友好协商，现就集团5G通信服务事宜约定如下。
        </span>
      </p>
      <p
        style="font-size:14px; line-height:150%; margin:0px; orphans:0; text-align:justify; text-indent:20px; widows:0">
        <span style="font-family:仿宋; font-size:14px;font-weight:bold">一、合同时限</span>
      </p>
      <p
        style="font-size:14px; line-height:150%; margin:0px; orphans:0; text-align:justify; text-indent:10px; widows:0">
        <span style="font-family:仿宋; font-size:14px;float: left;">
          <ion-datetime style="padding: 0px;font-family:仿宋;" class="datetime" displayFormat="YYYY年MM月DD日" pickerFormat="YYYY-MM-DD"
            placeholder="点击选择合同起始日期" [(ngModel)]="sign.planStartDate"></ion-datetime>
        </span>
        <span style="font-family:仿宋; font-size:14px;float:left">至</span>
        <span style="font-family:仿宋; font-size:14px;float:left">
          <ion-datetime style="padding: 0px;font-family:仿宋;" class="datetime" displayFormat="YYYY年MM月DD日" pickerFormat="YYYY-MM-DD"
            placeholder="点击选择合同截至日期" [(ngModel)]="sign.planEndDate"></ion-datetime>
        </span>
        <br>
        <!-- <span style="font-family:仿宋; font-size:14px;float:right"> </span> -->
      </p>
      <p
        style="font-size:14px; line-height:150%; margin:0px; orphans:0; text-align:justify; text-indent:20px; widows:0">
        <span style="font-family:仿宋; font-size:14px; font-weight:bold">二、合作内容</span>
      </p>
      <p
        style="font-size:14px; line-height:150%; margin:0px; orphans:0; text-align:justify; text-indent:20px; widows:0">
        <span style="font-family:仿宋; font-size:14px">乙方为甲方订制3套5G通信服务的优惠方案，甲方根据自身实际需求选择优惠方案中
          的1种或几种视为甲方与乙方进行5G通信服务战略合作，5G服务优惠方案如下（以下选择画√）
        </span>
      </p>
      <p style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0">
        <ion-radio-group name="plan" [(ngModel)]="sign.plan">
          <span style="font-family:仿宋; font-size:14px">A、“飞悦98移宽福”</span>
          <span style=" font-family:仿宋; font-size:14px">
            （<ion-radio value="Aplan" color="dark"></ion-radio>）户
          </span>
          <br>
          <span style="font-family:仿宋; font-size:14px">B、“飞悦98移宽福”</span>
          <span style=" font-family:仿宋; font-size:14px">
            （<ion-radio value="Bplan" color="dark"></ion-radio>）户
          </span>
          <br>
          <span style="font-family:仿宋; font-size:14px">C、“飞悦98移宽福”</span>
          <span style=" font-family:仿宋; font-size:14px">
            （<ion-radio value="Cplan" color="dark"></ion-radio>）户
          </span>
        </ion-radio-group>
      </p>
      <p
        style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; text-indent:21px; widows:0">
        <span style="font-family:仿宋; font-size:14px; font-weight:bold">三、双方权利</span>
      </p>
      <p
        style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0; text-indent:10px">
        <span style="font-family:仿宋; font-size:14px">1、甲方权利：</span>
        <span style="font-family:仿宋; font-size:14px">甲方为乙方在其企业驻地及经营场所内从事通信业务便利提供便利，并积极引导本集团员工办理乙方相关通信业务。</span>
      </p>
      <p
        style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0; text-indent:10px">
        <span style="font-family:仿宋; font-size:14px">2、乙方权利：</span>
        <span style="font-family:仿宋; font-size:14px">乙方设立业务咨询和联系电话，为甲方携号转入用户提供答疑服务。</span>
      </p>
      <p
        style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; text-indent:21px; widows:0">
        <span style="font-family:仿宋; font-size:14px; font-weight:bold">四、双方义务</span>
      </p>
      <p
        style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0; text-indent:10px">
        <span style="font-family:仿宋; font-size:14px">
          1、甲方义务：甲方需按照双方约定户数，引导本集团对应户数员工在2019年
          12月底与中国移动建立5G通信服务关系（含2/3/4/5G通信服务）；根据乙方计费要求，按时缴纳通信费用。
        </span>
      </p>
      <p
        style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0; text-indent:10px">
        <span style="font-family:仿宋; font-size:14px">
          2、乙方义务：为乙方提供5G基础通信服务；双方合作期间内乙方为甲方提供5G通信服务最新优惠政策。
        </span>
      </p>
      <p style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify;text-indent:21px;widows:0">
        <span style="font-family:仿宋; font-size:14px; font-weight:bold">五、其他事项</span>
      </p>
      <p
        style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0; text-indent:10px">
        <span style="font-family:仿宋; font-size:14px">1、若甲方未在规定时限内完成约定用户数量5G通信服务签约，乙方有权不为甲方提供约定的相关优惠。</span>
      </p>
      <p
        style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0; text-indent:10px">
        <span style="font-family:仿宋; font-size:14px">
          2、双方对本协议涉及的商业机密、价格协定等合作内容应严格保密，一方根据本协议收到的对方提供的
          资料文件或直接/间接直销的客户信息，未经对方/客户事先书面许可，不得对外公布、泄露、交换、出售或允许他人使用，更不能利用相关保密信息进行任何商业活动。
        </span>
      </p>
      <p style="font-size:14px; line-height:150%; margin:0px; orphans:0; widows:0; text-indent:10px">
        <span style="font-family:仿宋; font-size:14px">
          3、本协议履行中产生争议，双方应本着友好态度协商解决，若协商不成，可向宁波仲裁委员会提起仲裁。
        </span>
      </p>
      <p style="font-size:14px; line-height:150%; margin:0px; orphans:0; widows:0; text-indent:10px">
        <span style="font-family:仿宋; font-size:14px">
          4、本合同为电子合同，经系统校验（手机验证码形式）签约人为甲方集团法人或为委托经办人后，经甲方签字后生效。
        </span>
      </p>
      <p style="font-size:14px; line-height:150%; margin:0px; orphans:0; widows:0">
        <span style="font-family:仿宋; font-size:14px">附件一：5G通信服务优惠方案</span>
      </p>
      <p style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0">
        <span style="font-family:仿宋; font-size:14px; font-weight:bold">&#xa0;</span>
      </p>

    </div>
    <div>
      <p style="width:47%;font-size: 14px; line-height:150%;margin:0px;widows:0;float: left;">
        <span style="font-family:仿宋; font-size:14px">甲方：（盖章） </span><br>
        <span style="font-family:仿宋; font-size:14px"></span><br>
        <span style="font-family:仿宋; font-size:14px"></span><br>
        <span style="font-family:仿宋; font-size:14px">甲方代表：</span><br>
        <ion-button (click)="toSignA()" *ngIf="!sign.signatureImageA" color="danger" size="small">
          点击签名
        </ion-button>
        <img [src]="sign.signatureImageA" *ngIf="sign.signatureImageA" (click)="toSignA()" />
        <span style="font-family:仿宋; font-size:14px">
          <ion-datetime style="padding-left: 0px;font-family:仿宋" displayFormat="YYYY年MM月DD日"
            [(ngModel)]="sign.signDateA" readonly class="datetime"></ion-datetime>
        </span>
      </p>
      <p style="width:47%;font-size:14px;line-height:150%;margin:0px;widows:0;float: right">
        <span style="font-family:仿宋; font-size:14px">乙方：（盖章）</span><br>
        <span style="font-family:仿宋; font-size:14px">中国移动通信集浙江有限公司宁波分公司</span><br>
        <span style="font-family:仿宋; font-size:14px;">乙方代表：</span><br>
        <ion-button (click)="toSignB()" *ngIf="!sign.signatureImageB" color="danger" size="small">
          点击签名
        </ion-button>
        <img [src]="sign.signatureImageB" *ngIf="sign.signatureImageB" (click)="toSignB()" />
        <span style="font-family:仿宋; font-size:14px">
          <ion-datetime style="padding-left: 0px;font-family:仿宋" displayFormat="YYYY年MM月DD日"
            [(ngModel)]="sign.signDateB" readonly class="datetime"></ion-datetime>
        </span>
      </p>
      <p style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0">
        <span style="font-family:仿宋; font-size:14px; font-weight:bold">&#xa0;</span>
      </p>
      <p style="font-size:14px; line-height:130%; margin:0px; orphans:0; text-align:justify; widows:0">
        <span style="font-family:仿宋; font-size:14px; font-weight:bold">&#xa0;</span>
      </p>
    </div>
  </div>
</ion-content>